body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

h1 {
  color: #3366ff;
}

p {
  font-size: 24px;
}

.class_title {
  color: #ff0000;
}

#title {
    color: #00ff00;
}

p.class_title {
    color: #0000ff;
}

h1#title {
    color: #ff00ff;
}